@media (max-width: 1400px) {
  #content {
    max-width: 1200px;
    margin: 24px auto;
  }

  #content .welcome p {
    font-size: 18px;
    text-align: center;
  }

  .container-blog {
    max-width: 800px;
  }

  .icon {
    gap: 10px;
    margin-bottom: 12px;
  }

  .icon .text {
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 500;
  }

  .img .img3,
  .img .img4,
  .img .img5,
  .img .img6,
  .img .img7,
  .img .img8,
  .img .img9,
  .img .img10,
  .img .img11,
  .img .img12,
  .img .img13,
  .img .img14 {
    height: 50%;
    max-width: 100%;
  }

  #container-content {
    max-width: 800px;
    margin: 100px auto;
  }
}
@media (max-width: 1300px) {
  .container-quick-shop {
    position: relative;
    max-width: 900px;
    max-height: 550px;
    background-color: #fff;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 12px 32px;
  }
  .img-quick-shop {
    grid-column: 1/-2;
    max-width: 100%;
  }
  .recommend-product {
    line-height: 1.5;
    margin-top: 12px;
    font-size: 14px;
  }
  .content-quick-shop .title {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 300;
    line-height: 2;
    letter-spacing: 0.5px;
    word-spacing: 0.5px;
    margin-bottom: 8px;
  }
  .capicity {
    margin-top: 12px;
    font-weight: 400;
    line-height: 1.5;
    font-size: 14px;
  }
}
@media (max-width: 1250px) {
  .container-quick-shop {
    position: relative;
    max-width: 737px;
    max-height: 511px;
    background-color: #fff;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 12px 32px;
  }
}

@media (max-width: 1200px) {
  .form {
    max-width: 700px;
    margin: 0 auto;
  }

  .right .card .card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 12px;
  }

  .footer-content {
    max-width: 800px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 30% 70%;
    gap: 20px;
  }

  #footer .submit-button {
    width: 100%;
    padding: 6px 12px;
    font-size: 13px;
    color: white;
    background-color: rgb(82, 22, 12);
    border-radius: 5%;
  }

  .img .img3,
  .img .img4,
  .img .img5,
  .img .img6,
  .img .img7,
  .img .img8,
  .img .img9,
  .img .img10,
  .img .img11,
  .img .img12,
  .img .img13,
  .img .img14 {
    height: 50%;
    max-width: 100%;
  }
}

@media (max-width: 900px) {
  #container-header {
    max-width: 100%;
    display: flex;
    padding-left: 3%;
    padding-right: 3%;
    background-color: rgb(245, 242, 239);
    align-items: center;
    font-size: 14px;
  }

  #header-img {
    height: 43px;
    width: 451px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
  }

  #menu-list {
    display: flex;
    /* font-size: 16px; */
    max-width: 700px;
    margin: 0 auto;
    justify-content: center;
  }

  #menu-list > li {
    display: inline-block;
    padding: 0px 30px;
    font-size: 16px;
    line-height: 1.5;
    position: relative;
  }

  .container-slider {
    z-index: 1;
    position: relative;
    margin-top: 13px;
    max-width: 100%;
    display: flex;
    justify-content: center;
  }

  #content {
    max-width: 700px;
    margin: 0 auto;
  }

  #content .welcome p {
    font-size: 15px;
  }

  #content .type {
    display: flex;
    max-width: 700px;
    margin: 0 auto;
  }

  .header-thechocolate .heading,
  .header-search .heading {
    text-align: center;
    letter-spacing: 9px;
    margin-bottom: 10px;
    font-size: 20px;
  }

  .form {
    max-width: 600px;
    margin: 0 auto;
  }

  .form .container {
    display: grid;
    grid-template-columns: 150px auto;
    margin: 32px 0;
    gap: 12px;
  }

  .left .list-product li {
    padding: 10px;
    font-size: 14px;
    text-align: left;
    cursor: pointer;
  }

  .footer-content {
    max-width: 800px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 30% 70%;
    gap: 20px;
  }

  #footer .submit-button {
    width: 100%;
    padding: 6px 12px;
    font-size: 13px;
    color: white;
    background-color: rgb(82, 22, 12);
    border-radius: 5%;
  }

  .container-blog {
    max-width: 700px;
    margin: 50px auto;
  }

  .title-blog .title {
    font-size: 25px;
    margin-bottom: 10px;
    letter-spacing: 3px;
    text-align: center;
    text-transform: uppercase;
  }

  .link {
    font-size: 10px;
    font-style: italic;
    grid-column: 1/-2;
  }

  .content-chocolate .title {
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 2;
  }

  .content-chocolate .sub-title {
    font-size: 10px;
    color: #495057;
    line-height: 3;
  }

  .content-chocolate .text {
    font-size: 14px;
    letter-spacing: 0.5px;
    word-spacing: 1px;
    margin-top: 12px;
  }

  .img .img3,
  .img .img4,
  .img .img5,
  .img .img6,
  .img .img7,
  .img .img8,
  .img .img9,
  .img .img10,
  .img .img11,
  .img .img12,
  .img .img13,
  .img .img14 {
    height: 50%;
    max-width: 100%;
  }

  .icon .text {
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 500;
  }

  .recent-articles .title {
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 2;
    text-transform: uppercase;
  }

  .recent-articles .text {
    font-size: 14px;
    letter-spacing: 0.5px;
    word-spacing: 1px;
  }

  .recent-articles .sub-text {
    font-size: 12px;
    color: #495057;
  }

  .categories .title {
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 2;
    text-transform: uppercase;
  }

  .categories .line-text {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    font-size: 14px;
    letter-spacing: 0.5px;
    word-spacing: 1px;
  }

  .categories .num {
    font-size: 10px;
    color: #495057;
  }

  #container-content {
    max-width: 800px;
    margin: 50px auto;
  }

  .aboutus-title {
    font-size: 25px;
    margin: 10px 0;
    letter-spacing: 3px;
    text-align: center;
  }

  #content .content-aboutus {
    font-size: 12px;
    text-align: justify;
  }

  #content .address-contactus p {
    font-size: 12px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 50px;
  }
}
@media (max-width: 850px) {
  .container-quick-shop {
    position: relative;
    max-width: 648px;
    max-height: 625px;
    background-color: #fff;
    display: grid;
    grid-template-columns: 1fr;
    overflow: scroll;
  }
  .img-quick-shop {
    max-width: 100%;
  }
  .content-quick-shop {
    margin-top: 26px;
    grid-column: 1/-1;
  }
}
@media screen and (max-width: 700px) {
  #content {
    max-width: 500px;
    margin: 0 auto;
  }

  #content .type {
    display: flex;
    max-width: 700px;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
  }

  .blog-in-page {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    gap: 24px;
    margin-top: 12px;
    align-items: center;
    color: #3e0707;
  }

  .footer-left {
    display: flex;
    flex-direction: column;
    /* align-items: flex-start; */
    text-align: center;
    gap: 12px;
    margin-left: 0;
    margin-top: 32px;
    align-items: center;
  }

  .footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .footer-center {
    grid-column: 1/-1;
    margin-right: 0;
  }

  .form .container {
    display: grid;
    grid-template-columns: 1fr;
    margin: 32px 0;
    gap: 12px;
  }

  .form {
    max-width: 500px;
    margin: 0 auto;
  }

  .left .list-product {
    list-style-type: none;
    display: grid;
    align-content: stretch;
    justify-content: center;
    justify-items: center;
  }

  .right {
    width: 100%;
    /* margin-left: 10px; */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 24px;
  }

  .container-blog {
    max-width: 500px;
    margin: 50px auto;
  }

  .container-blog {
    margin: 100px auto;
    display: grid;
    grid-template-columns: 1fr;
    gap: 24px;
  }

  /* mobile navigation */
  .btn-mobile-nav {
    display: block;
    z-index: 3;
  }

  #menu-container {
    background-color: rgba(255, 255, 255, 0.97);
    opacity: 0;
    width: 100%;
    transition: all 0.5s;
    pointer-events: none;
    visibility: hidden;
  }

  .nav-open .icon-mobile-nav[name="close-outline"] {
    display: block;
  }

  .nav-open .icon-mobile-nav[name="open-outline"] {
    display: none;
  }

  .nav-open #menu-container {
    opacity: 1;
    pointer-events: all;
    visibility: visible;
  }

  #menu-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .container-quick-shop {
    position: relative;
    max-width: 302px;
    max-height: 480px;
    background-color: #fff;
    display: grid;
    grid-template-columns: 1fr;
    overflow: scroll;
    margin: 0 auto;
  }
}
@media screen and (max-width: 550px) {
  .container-quick-shop {
    position: relative;
    max-width: 260px;
    max-height: 380px;
    background-color: #fff;
    display: grid;
    grid-template-columns: 1fr;
    overflow: scroll;
    margin: 0 auto;
  }
}
